
[Unit]
Description=FastAPI server with Gunicorn
After=network.target

[Service]
User=username
WorkingDirectory=/home/username/car-viewer-foss4g
ExecStart=/home/username/car-viewer-foss4g/.venv/bin/gunicorn -c /home/username/car-viewer-foss4g/gunicorn_conf.py server:app
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
